.bluetext{
  color:blue;
}

#bigtext{
  font-size-adjust: :50px;
}

#smalltext{
  font-size-adjust: : 10px;
}



.large{
  text-transform:uppercase;
}

.fix{
  position: fixed;

}

.absol{
  position: absolute;
text-align: left;
}


.relate{
  position: relative;
  top: 40px; left: 40px;
}

h1,h2,h3{
  color:green;
}

.marked p{
  color: purple;
}

#photo{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15%;
  margin-bottom: 15%;
margin: blue;
  border: black;
  border-width: 3px;
  border-style: solid;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;


}
