body{
  background-color: black;
  color: white;
}

#wrapper{
  width: 1604px;
  margin:0 auto;
  background-color: white
  height: 987px;
}

#header{
height: 50px;
text-align: center;
background-color: red;
}


#leftbody{
  width: 800px;
  float:left;
  height: 500px;
  background-color: green;

}

#footer{
  width: 800px;
  height: 50px;
  background-color: blue;
  clear: both;
  text-align: center;
}
