body{
  background-color: black;
}

.wrapper{
  width: 800px;
  background-color: white;
  margin: 0 auto;
}

.header{
  height: 70px;
  text-align: center;
  background-color: yellow;
}


.leftbody{
  height: 600px;
  width: 200px;
  background-color: orange;
  float: left;
}

#rightbody{
  height: 600px;
  width: 600px;
  background-color: gold;
  float: left;
  text-align: center;

}

.footer{
  height: 70px;
  text-align: left;
  background-color: tan;
  clear: both;
  padding: 10;
}

.reli{
position: absolute;
bottom: auto;
left: 370px;


}

.relic{
  position: absolute;
  bottom: auto;
  left: 1080px;
}

.head{
  position: absolute;
  top: 0px;
  left: 650px;
  font-size: 210%;
  font-family: "papyrus", fantasy;
  text-decoration: underline;

}

.egg{
  position: absolute;
bottom: auto;
left: 580px;
}

.egg2{
  position:absolute;
  bottom:auto;
  left: 920px;
}

#shinies{
  border-style: dotted;
  border-width: thick;
  border-color: red;
  line-height: 1.5;
}

.shinymons{
  position:absolute;
  left: 650px;
  bottom: 51px;
}

.raid{
  text-align: center;
  border-style: double;
  border-width: thick;
  border-color: red;
  font-size: 150%;
}

.center{
  text-align: center;
  position: absolute;
  left: 420px;
}

.info{
border-style: dashed;
border-color: darkgreen;
border-width: thick;
line-height: 1.7;
font-size: 120%;
position: absolute;
font-weight: bold;
text-decoration: underline;


}
.shinyrate{
 position: absolute;
 bottom: 1px;
 left: 550px;
}

.directory{
 position: absolute;
 bottom: 1px;
 left: 700px;
}

.channel{
 position: absolute;
 bottom: 1px;
 left: 900px;
}

.pfp{
  position: absolute;
  bottom: -18px;
  left: 1070px;
}
